@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --purple: #36008D;
  --green: #00C9B8;
  --yellow: #FCD200;
  --red: #FE5E54;
  --gray:#E2E0E5
}

body {
  margin: 0;
}

.bg-purple {
  background-color: var(--purple);
}
.bg-green {
  background-color: var(--green);
}
.bg-gray {
  background-color: var(--gray);
}

.text-purple {
  color: var(--purple);
}
.text-yellow {
  color: var(--yellow);
}
.text-red {
  color: var(--red);
}

